
<div data-ng-controller="solarisAdminPhotoCtrl" >




	<div class="panel-nav" >

		<h2>Photos</h2>
	
		<button type="button" class="btn btn-primary" data-ng-click="" >New photo</button>
		<button type="button" class="btn btn-primary" data-ng-click="" data-ng-disabled="" >Edit photo</button>
		<button type="button" class="btn btn-primary" data-ng-click="" data-ng-disabled="" >Delete photo</button>
	</div>

	<div class="panel-body" >
	
		<table class="table" >
			<tr>
				<th width="20" ></th>
				<th>Title</th>
				<th>Description</th>
				<th>Id</th>
				<th></th>
			</tr>
		
			<tr data-ng-class="" >
				<td>
					<input type="checkbox"  />
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		
		</table>
		
	</div>
	

</div>

