<div class="photoViewer" data-ng-cloak >
	
		<div class="page-header" >
	
			<div class="link-back" >
				<a href="{{contextPath}}photo/#/gallery/{{data.galleryId}}" >Powrót</a>
			</div>
		
			<div class="header-title" data-ng-hide="data.photos[selectedPhotoIndex].title == '' " >{{data.photos[selectedPhotoIndex].title}}</div>
			
		</div>
	
		<div class="info" >
			<div>Zdjęcie {{selectedPhotoIndex + 1}} z {{data.photos.length}}</div>
		</div>
	
		<div class="image" >
			<img data-ng-src="{{contextPath}}image/{{data.photos[selectedPhotoIndex].imageSrc}}" />	
		
			<div id="prev-photo" class="prev-photo" data-ng-click="prevPhoto()" data-ng-class="prevPhotoButtonClassName()" ></div>
			<div id="next-photo" class="next-photo" data-ng-click="nextPhoto()" data-ng-class="nextPhotoButtonClassName()" ></div>

		</div>
		


	
	</div>

</div>

