$white: #FFFFFF;
$dark: #333;
$blue: #238ed2;
$green: #98FF98;

$border-grey: #ddd;


html, body {
	color: $dark;
}

html, body, .admin-panel, .admin-panel > .row {
	height: 100%;
}

.container {
	padding: 0;
	width: 100% !important;
}

.navbar {
	margin-bottom: 0;
}


.admin-panel {
	background: $white;

	.navigation {
		background: $white;
		border-right: 2px solid $border-grey;
		min-height: 100%;
		padding: 0;
		
	
		.top-block {
			background: #F4F4F4;
			padding: 10px 12px;
			text-transform: uppercase;
		}
	
		ul {
			margin: 0;
			list-style: none;
			padding: 0;
			
		
			li {
				border: {
					color: $border-grey;
					style: solid;
					width: 1px 0 0 0;
				}
				cursor: pointer;
			
				.active, &:hover {
					background: $blue;
					
					
					a {
						color: $white;
					}	
				}
				
				&:last-child {
					border-bottom-width: 1px;
				}
				
				a {
					color: $dark;
					display: block;
						padding: 10px 12px;
				}
			}
		}
	
	}
	
	.content {
		background: $white;
	
		
		h2 {
			margin-bottom: 50px;
		}
	
	}

}


.panel-nav {

	margin: 0 0 20px;
}

.panel-body {


}



.modal-window {
	position: absolute;
	z-index: 1000;

	&:before {
		background-color: rgba(50, 50, 50, 0.65);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index:999;	
	}
	
	.modal-window-content {
		background-color: #F6F6F6;
		border: {
			color: #ddd;
			radius: 1em;
			style: solid;
			width: 1px;
		}
	    display: block;
	    left: 0;
	    margin: 0 20%;
	    position: fixed;
	    top: 50px;
	    width: 60%;
	    z-index: 1000;
	}
}


.modified {
  -webkit-animation: highlight-row 2.5s 1; /* Safari 4+ */
  -moz-animation:    highlight-row 2.5s 1; /* Fx 5+ */
  -o-animation:      highlight-row 2.5s 1; /* Opera 12+ */
  animation:         highlight-row 2.5s 1; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}
@-moz-keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}
@-o-keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}
@keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}

