html, body {
  color: #333333; }

html, body, .admin-panel, .admin-panel > .row {
  height: 100%; }

.container {
  padding: 0;
  width: 100% !important; }

.navbar {
  margin-bottom: 0; }

.admin-panel {
  background: white; }
  .admin-panel .navigation {
    background: white;
    border-right: 2px solid #dddddd;
    min-height: 100%;
    padding: 0; }
    .admin-panel .navigation .top-block {
      background: #F4F4F4;
      padding: 10px 12px;
      text-transform: uppercase; }
    .admin-panel .navigation ul {
      margin: 0;
      list-style: none;
      padding: 0; }
      .admin-panel .navigation ul li {
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px 0 0 0;
        cursor: pointer; }
        .admin-panel .navigation ul li .active, .admin-panel .navigation ul li:hover {
          background: #238ed2; }
          .admin-panel .navigation ul li .active a, .admin-panel .navigation ul li:hover a {
            color: white; }
        .admin-panel .navigation ul li:last-child {
          border-bottom-width: 1px; }
        .admin-panel .navigation ul li a {
          color: #333333;
          display: block;
          padding: 10px 12px; }
  .admin-panel .content {
    background: white; }
    .admin-panel .content h2 {
      margin-bottom: 50px; }

.panel-nav {
  margin: 0 0 20px; }

.modal-window {
  position: absolute;
  z-index: 1000; }
  .modal-window:before {
    background-color: rgba(50, 50, 50, 0.65);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
  .modal-window .modal-window-content {
    background-color: #F6F6F6;
    border-color: #ddd;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    display: block;
    left: 0;
    margin: 0 20%;
    position: fixed;
    top: 50px;
    width: 60%;
    z-index: 1000; }

.modified {
  -webkit-animation: highlight-row 2.5s 1;
  /* Safari 4+ */
  -moz-animation: highlight-row 2.5s 1;
  /* Fx 5+ */
  -o-animation: highlight-row 2.5s 1;
  /* Opera 12+ */
  animation: highlight-row 2.5s 1;
  /* IE 10+, Fx 29+ */ }

@-webkit-keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
@-moz-keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
@-o-keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
@keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
