<div class="modal-window" data-ng-class="getDeleteGalleryWindowClass()" >

	<div class="modal-window-content">

		<form class="form-horizontal">	

			<div class="modal-header">
				<h4>Delete Gallery</h4>
			</div>
	
			<div class="modal-body">
				
				<p>Do you really want to delete selected galleries?</p>
				<p>Galleries name</p>
				
				<ul>
					<li data-ng-repeat="selectedGallery in selectedGalleries" >
					{{selectedGallery.name}} - {{selectedGallery.id}} 
					</li>
				</ul>
				
				
			  	
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="hideDeleteGalleryWindow()" >Close</button>
				<button type="button" class="btn btn-primary" data-ng-click="deleteGallery()" >Delete Gallery</button>
			</div>
	
		</form>
			
	</div>

</div>

