
<div data-ng-controller="solarisAdminArticleCtrl" >




	<div class="panel-nav" >

		<h2>Articles</h2>
	
		<button type="button" class="btn btn-primary" data-ng-click="" >New article</button>
		<button type="button" class="btn btn-primary" data-ng-click="" data-ng-disabled="" >Edit article</button>
		<button type="button" class="btn btn-primary" data-ng-click="" data-ng-disabled="" >Delete article</button>
	</div>

	<div class="panel-body" >
	
		
	
		 
		<table class="table" >
			<tr>
				<th width="20" ></th>
				<th>Title</th>
				<th>Content</th>
				<th>Id</th>
				<th></th>
			</tr>
		
			<tr data-ng-class="" >
				<td>
					<input type="checkbox"  />
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		
		</table>
		 
		<h3>TBD</h3>
		<h3>TBD</h3>
		
	</div>
	

</div>

