<div >

	<div data-ng-include="'../static/admin/angularjs/view/photo/addForm.html'"></div>
	<div data-ng-include="'../static/admin/angularjs/view/photo/editForm.html'"></div>
	<div data-ng-include="'../static/admin/angularjs/view/photo/deleteForm.html'"></div>

	<div class="panel-nav" >

		<h2>Photos</h2>
	
		<button type="button" class="btn btn-primary" data-ng-click="showAddPhotoWindow()" >New photo</button>
		<button type="button" class="btn btn-primary" data-ng-click="showEditPhotoWindow()" data-ng-disabled="isActionButtonDisabled()" >Edit photo</button>
		<button type="button" class="btn btn-primary" data-ng-click="showDeletePhotoWindow()" data-ng-disabled="isActionButtonDisabled()" >Delete photo</button>
	</div>

	<div class="panel-body" >
	
		<div data-ng-include="'../static/admin/angularjs/view/photo/photoFilters.html'"></div>
	
		<div data-ng-include="'../static/admin/angularjs/view/photo/photoList.html'"></div>
		
	</div>
	

</div>

