<table class="table table-bordered table-hover table-striped" >
	<tr>
		<th width="20" ></th>
		<th>Title</th>
		<th>Gallery</th>
		<th width="50" >Image</th>
		<th>Description</th>
		<th width="30" >Id</th>
	</tr>

	<tr data-ng-repeat="photo in data.photos" data-ng-class="{'modified': photo.modified}" >
		<td>
			<input type="checkbox" 
			data-ng-checked="selectedPhotos.indexOf(photo) > -1"
  					data-ng-click="toggleSelection(photo)" /> 
		</td>
		<td>{{photo.title}}</td>
		<td>{{photo.gallery.name}}</td>
		<td><img data-ng-src="{{contextPath}}image/{{photo.imageSrc || 'default.jpg' }}" width="40" data-ng-cloak /></td>
		<td>{{photo.description}}</td>
		<td>{{photo.id}}</td>
	</tr>

</table>


