<div class="page-header" >
	<div class="header-title">Wybierz galerię:</div>
	<input type="text" class="position-right input-gallery-search" id="input-gallery-search" data-ng-model="searchPhrase" placeholder="Wyszukaj" />
</div>

<div class="gallery-list" >
	<div data-ng-repeat="gallery in data.galleries | gallerySearchFilter:searchPhrase | orderBy:'name' track by $index" class="col-sm-4 gallery-block" data-ng-class="getBlockClassName($index)" >
		<a href="{{contextPath}}photo/#/gallery/{{gallery.id}}" >
			<div class="title" ng-bind-html="highlight(gallery.name, searchPhrase)" >{{gallery.name}}</div>
			<img data-ng-src="{{contextPath}}photos/{{gallery.featuredImageSrc}}" width="295" height="197" />
		</a>
	</div>
</div>



