<div class="pagination" >

	<div class="position-left">
		Page {{selectedPage}} of {{numberOfPages}}
	</div>

	<div class="position-right">
		
		<a class="btn btn-default" data-ng-disabled="isPreviousButtonDisabled()" data-ng-click="selectPreviousPage()" >Previous</a>
	
		<div class="btn-group" >
			
			<a data-ng-repeat="galleryPage in data.galleries | pageCount:pageSize"
				data-ng-click="selectPage($index + 1)"
			 	data-ng-class="getPageClass($index + 1)"
			 	class="btn btn-default" >
			{{$index + 1}}
			</a>
			
		</div>
		
		<a class="btn btn-default" data-ng-disabled="isNextButtonDisabled()" data-ng-click="selectNextPage()" >Next</a>
		
	</div>
</div>
