/* Styles for user view part of website */
.footer {
  background: #333333;
  bottom: 0;
  color: white;
  padding: 0;
  position: absolute;
  width: 100%; }
  .footer .sitemap {
    font-size: 13px; }
    .footer .sitemap ul {
      margin: 0; }
    .footer .sitemap li {
      display: inline-block;
      margin: 0; }
      .footer .sitemap li a {
        background: #333333;
        color: white;
        display: inline-block;
        margin: 0;
        padding: 24px 10px;
        text-decoration: none;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .footer .sitemap li a:hover, .footer .sitemap li a:focus {
          background: white;
          color: #333333; }
  .footer .info {
    float: left;
    padding-top: 24px; }
  .footer .navbar-right {
    float: right; }

header {
  background: #333333;
  color: white;
  padding: 0; }
  header .nav li a {
    padding-bottom: 23px;
    padding-top: 23px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    header .nav li a:hover {
      background: white;
      color: #333333; }
  header a {
    color: #f9f9f9; }
    header a:hover, header a:focus {
      background: #333333;
      color: #f9f9f9;
      text-decoration: none; }
  header .logo a {
    color: #f9f9f9;
    font-size: 30px; }
    @media (min-width: 468px) and (max-width: 767px) {
      header .logo a {
        font-size: 22px;
        padding-top: 16px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header .logo a {
        font-size: 22px; } }
  header .nav > li > a {
    color: #f9f9f9; }
    header .nav > li > a:hover, header .nav > li > a:focus {
      background: white;
      color: #333333;
      text-decoration: none; }

@media (min-width: 468px) and (max-width: 767px) {
  .container .panel-contact {
    background-position: -220px center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container .panel-contact {
    background-position: -160px center; } }

.panel-contact {
  background-image: url("../../images/mb.jpg");
  margin: 25px 0;
  min-height: 600px;
  padding-top: 40px; }
  .panel-contact form {
    font-size: 18px; }
  .panel-contact input[type="text"], .panel-contact input[type="email"], .panel-contact textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f4f4f4;
    color: #515151;
    font-style: italic;
    padding: 8px 12px; }
    .panel-contact input[type="text"]::-webkit-input-placeholder, .panel-contact input[type="email"]::-webkit-input-placeholder, .panel-contact textarea::-webkit-input-placeholder {
      color: #666; }
    .panel-contact input[type="text"]:-moz-placeholder, .panel-contact input[type="email"]:-moz-placeholder, .panel-contact textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #666; }
    .panel-contact input[type="text"]::-moz-placeholder, .panel-contact input[type="email"]::-moz-placeholder, .panel-contact textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #666; }
    .panel-contact input[type="text"]:-ms-input-placeholder, .panel-contact input[type="email"]:-ms-input-placeholder, .panel-contact textarea:-ms-input-placeholder {
      color: #666; }
  .panel-contact input[type="submit"] {
    bottom: 0;
    margin: 20px auto 0;
    position: relative; }
  .panel-contact .c-label {
    background: rgba(255, 255, 255, 0.8);
    border-left: 4px solid #238ed2;
    color: #111;
    display: inline-block;
    font-size: 20px;
    padding: 6px 48px 6px 12px;
    margin-left: 15px;
    margin-bottom: 20px; }
  .panel-contact .c-label label, .panel-contact .c-label input {
    font-size: 18px; }
  .panel-contact .form-field > div {
    margin-bottom: 15px; }

.gallery .row {
  margin-bottom: 20px; }
.gallery .gallery-item {
  position: relative; }
  .gallery .gallery-item img {
    width: 280px; }
  .gallery .gallery-item .gallery-desc {
    background: rgba(30, 30, 30, 0.8);
    bottom: 0px;
    color: #fff;
    font-size: 12px;
    height: 28px;
    overflow: hidden;
    padding: 4px 6px;
    position: absolute;
    width: 280px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .gallery .gallery-item .gallery-desc:hover {
      height: 46px; }
    .gallery .gallery-item .gallery-desc span {
      font-size: 14px;
      font-weight: bold; }
      .gallery .gallery-item .gallery-desc span:hover {
        text-decoration: underline; }
    .gallery .gallery-item .gallery-desc p {
      display: none; }
    .gallery .gallery-item .gallery-desc div {
      padding-right: 10px;
      position: absolute;
      right: 0px; }

.gallery-single {
  margin-bottom: 120px; }
  .gallery-single .image-title {
    background: none repeat scroll 0 0 #fff;
    bottom: 25px;
    display: none;
    left: 15px;
    margin: 0 5px;
    overflow: hidden;
    padding: 0px 10px;
    position: absolute; }
  .gallery-single .image-frame img {
    max-height: 200px; }

.image-frame img {
  max-width: 930px; }

.image-desc {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  font-size: 16px;
  padding: 5px 7px;
  position: relative; }

.image-frame {
  background: #fff;
  box-shado: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  margin: 0px 5px 10px 0px;
  padding: 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /*&:hover {
  	margin: 0px;
  	padding: 15px 10px;
  }*/ }
  .image-frame img {
    border: 1px solid rgba(0, 0, 0, 0.12); }

.image-viewer {
  background: rgba(90, 90, 90, 0.96);
  display: inline-block;
  height: 100%;
  padding: 10px 0px;
  position: fixed;
  text-align: center;
  top: 66px;
  width: 100%;
  z-index: 1000; }
  .image-viewer .container {
    position: relative; }
  .image-viewer h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
    text-align: left; }
  .image-viewer img {
    border: 1px solid #fff;
    cursor: pointer; }
  .image-viewer .image-container {
    background: #333;
    bottom: 66px;
    padding: 20px 0px;
    position: absolute;
    width: 100%; }
    .image-viewer .image-container img {
      border: 1px solid white;
      height: 75px;
      margin: 0px 8px;
      width: 75px; }
  .image-viewer .close-gallery {
    background-image: url("../../images/icons/x-mark-32.png");
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 32px; }

.gallery-section.container {
  margin-bottom: 30px;
  margin-top: 50px; }
.gallery-section .sh-last-added {
  margin-top: 40px; }

.gallery-block {
  display: inline-block;
  list-style: none;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  .gallery-block img {
    border: 1px solid #444;
    height: 197px;
    width: 295px; }
  .gallery-block .title {
    background: rgba(30, 30, 30, 0.9) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.8em;
    overflow: hidden;
    padding: 4px 6px;
    position: absolute; }
    .gallery-block .title .highlightedText {
      background: rgba(100, 100, 100, 0.9);
      display: inline-block;
      font-weight: bold; }

.gallery-list {
  margin-top: 30px; }

.input-gallery-search {
  background-image: url("./../../images/icons/icon-search.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 0;
  bottom: 0;
  color: #7f8c8d;
  font-family: inherit;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  min-width: 290px;
  padding: 10px 35px 10px 12px;
  position: absolute;
  right: 0; }

.photo-block {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  .photo-block img {
    border: 5px solid #fff;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    .photo-block img:hover {
      border: 5px solid #73bae8; }

.photoViewer .info {
  margin: -5px 0 5px 2px; }
.photoViewer .image {
  display: inline-block;
  position: relative; }
  .photoViewer .image .prev-photo, .photoViewer .image .next-photo {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 40%; }
  .photoViewer .image .prev-photo {
    border-bottom: 40px solid transparent;
    border-right: 50px solid #333333;
    border-top: 40px solid transparent;
    height: 0;
    left: -50px;
    width: 0; }
  .photoViewer .image .next-photo {
    border-bottom: 40px solid transparent;
    border-left: 50px solid #333333;
    border-top: 40px solid transparent;
    height: 0;
    right: -50px;
    width: 0; }

/*
.photoViewer {
	background: rgba(0, 0, 0, 0.8);
	display: inline-block;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
*/
.left-block {
  padding-right: 16px; }
  @media (min-width: 468px) and (max-width: 767px) {
    .left-block {
      padding-left: 8px;
      padding-right: 8px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .left-block {
      padding-left: 8px;
      padding-right: 8px; } }

.middle-block {
  padding-left: 8px;
  padding-right: 8px; }

.right-block {
  padding-left: 16px; }
  @media (min-width: 468px) and (max-width: 767px) {
    .right-block {
      padding-left: 8px;
      padding-right: 8px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .right-block {
      padding-left: 8px;
      padding-right: 8px; } }

.home-text {
  margin: 0 0 20px 0; }
  @media (max-width: 468px) {
    .home-text {
      font-size: 14px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .home-text {
      font-size: 15px; } }

.home-images:first-child {
  margin-left: 0px; }
.home-images:last-child {
  margin-right: 0px; }
.home-images img {
  border: 1px solid white;
  max-width: 100%; }

.home-bottom {
  margin-top: 40px;
  margin-bottom: 40px;
  /*TODO*/ }
  @media (max-width: 467px) {
    .home-bottom {
      margin-top: 0;
      margin-bottom: 0; } }
  @media (min-width: 468px) and (max-width: 767px) {
    .home-bottom {
      margin-top: 10px;
      margin-bottom: 10px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .home-bottom {
      margin-top: 20px;
      margin-bottom: 20px; } }
  .home-bottom .teaser {
    color: white;
    margin: 12px 12px;
    min-height: 250px;
    text-align: center; }
    .home-bottom .teaser:first-child {
      margin-left: 0px; }
    .home-bottom .teaser p:nth-child(2) {
      font-size: 18px; }
      @media (max-width: 467px) {
        .home-bottom .teaser p:nth-child(2) {
          font-size: 15px; } }
      @media (min-width: 468px) and (max-width: 767px) {
        .home-bottom .teaser p:nth-child(2) {
          font-size: 16px; } }
    .home-bottom .teaser p:nth-child(3) {
      line-height: 1.4em;
      text-align: center;
      font-size: 15px; }
      @media (max-width: 467px) {
        .home-bottom .teaser p:nth-child(3) {
          font-size: 12px; } }
      @media (min-width: 468px) and (max-width: 767px) {
        .home-bottom .teaser p:nth-child(3) {
          font-size: 13px; } }
    .home-bottom .teaser .block {
      background: #238ed2;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 75px;
      cursor: pointer;
      display: inline-block;
      height: 150px;
      margin: 12px auto;
      width: 150px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .home-bottom .teaser .block:hover, .home-bottom .teaser .block:focus {
        background-color: white; }
      @media (max-width: 467px) {
        .home-bottom .teaser .block {
          height: 100px;
          width: 100px; } }
      @media (min-width: 468px) and (max-width: 767px) {
        .home-bottom .teaser .block {
          height: 120px;
          width: 120px; } }
    .home-bottom .teaser .photo {
      background-image: url("../../images/icons/gallery.png"); }
      .home-bottom .teaser .photo:hover, .home-bottom .teaser .photo:focus {
        background-image: url("../../images/icons/picture-blue.png"); }
    .home-bottom .teaser .featured {
      background-image: url("../../images/icons/camera.png"); }
      .home-bottom .teaser .featured:hover, .home-bottom .teaser .featured:focus {
        background-image: url("../../images/icons/camera-blue.png"); }
    .home-bottom .teaser .contact {
      background-image: url("../../images/icons/contact.png"); }
      .home-bottom .teaser .contact:hover, .home-bottom .teaser .contact:focus {
        background-image: url("../../images/icons/contacts-blue.png"); }

* {
  margin: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px; }

.wrapper {
  /*
  	min-height: 100%;
  	height: auto !important;
  	height: 100%;
  	margin: 0 auto $neg-footer-height;
  	*/ }
  .wrapper > .container {
    margin-top: 100px; }

body {
  background: repeat scroll 0 0 transparent;
  background-image: url("../../images/background/mooning.png");
  font-family: "Noto Sans", sans-serif; }

.container {
  max-width: 970px; }

.showcase {
  margin-top: 90px;
  margin-bottom: 50px; }
  .showcase img {
    border: 1px solid white;
    width: 100%; }

.showcase {
  text-align: center; }

.showcase .main-image {
  text-align: center; }

.showcase .main-image img {
  border: 1px solid white;
  margin: 0px auto; }

.showcase .carousel {
  display: inline-block; }

.showcase .carousel .carousel-control {
  display: none; }

.sh-full {
  background: #333;
  margin: 20px auto 80px;
  width: 100%; }

.sh-header {
  border-top: 2px solid white;
  position: relative; }

.sh-header div {
  background: none repeat scroll 0 0 white;
  display: inline-block;
  font-size: 22px;
  font-style: italic;
  left: 41%;
  padding: 8px 30px;
  position: absolute;
  top: -25px; }

.sh-desc {
  /*border-bottom: 2px solid white;*/
  /*border-top: 2px solid white;*/
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8em;
  padding: 50px 0px 30px;
  position: relative; }

.sh-last-added .added-item {
  background: #fff;
  border-bottom: 3px solid #d6d6d6;
  height: 420px;
  margin: 6px;
  position: relative; }

.sh-last-added .added-item:first-child {
  margin-left: 0px; }

.sh-last-added .added-item:last-child {
  margin-right: 0px; }

.sh-last-added .added-item img {
  width: 100%; }

.sh-last-added .added-item .item-title {
  font-size: 1.4em;
  padding: 12px 8px 16px; }

.sh-last-added .added-item .item-desc {
  font-size: 14px;
  line-height: 1.4em;
  padding: 8px; }

.sh-last-added .added-item .item-center {
  text-align: center; }

.button {
  background: #238ed2;
  border: 4px solid #238ed2;
  bottom: 15px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 20px;
  left: 33%;
  margin: 0 auto;
  padding: 2px 12px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.button:hover, .button:focus {
  background: #fff;
  color: #238ed2; }

.navbar-toggle {
  background: white; }
  .navbar-toggle .icon-bar {
    background: #333333; }

.page-header {
  border: 0px;
  margin-top: 120px;
  position: relative; }
  @media (min-width: 468px) and (max-width: 767px) {
    .page-header {
      margin-top: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .page-header {
      margin-top: 100px; } }
  .page-header .header-icon {
    background-repeat: no-repeat;
    border: 10px solid #fff;
    border-radius: 75px;
    height: 130px;
    text-align: center;
    width: 130px; }
  .page-header .header-title {
    background: #fafafa;
    border: 1px solid #aaa;
    display: inline;
    font-size: 36px;
    padding: 10px 15px;
    position: relative; }
    @media (min-width: 468px) and (max-width: 767px) {
      .page-header .header-title {
        font-size: 26px;
        padding: 6px 10px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .page-header .header-title {
        font-size: 30px;
        padding: 8px 12px; } }
  .page-header .header-contact {
    background-image: url("../../images/icons/contact.png"); }
  .page-header .link-back a {
    background: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: -5px 0px 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .page-header .link-back a:hover {
      background: #f6f6f6;
      color: #333; }

.navbar {
  border: 0px; }

.navbar-brand {
  padding-top: 23px; }

.block-text {
  background: #fafafa;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 15px; }

.display-block {
  display: inline-block !important; }

.display-none {
  display: none !important; }

.button-bordered {
  background: white;
  color: #333333;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 16px; }
