.form-login {
  margin: 50px auto 0;
  max-width: 330px;
  padding: 15px; }
  .form-login input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px; }
  .form-login .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative; }

.form-login-heading {
  padding-bottom: 16px; }

html, body {
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

html, body, .admin-panel, .admin-panel > .row {
  height: 100%; }

.container {
  padding: 0;
  width: 100% !important; }

.navbar {
  margin-bottom: 0;
  min-height: inherit; }

.nav-left, .nav-right {
  padding: 10px 20px; }

.nav-left {
  border-right: 2px solid #dddddd;
  font-size: 16px;
  text-transform: uppercase; }

.nav-right {
  padding: 10px 20px;
  text-align: right; }

.btn {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.admin-panel {
  background: white; }
  .admin-panel .navigation {
    background: white;
    border-right: 2px solid #dddddd;
    min-height: 100%;
    padding: 0; }
    .admin-panel .navigation .top-block {
      background: #F4F4F4;
      padding: 10px 12px;
      text-transform: uppercase; }
    .admin-panel .navigation ul {
      margin: 0;
      list-style: none;
      padding: 0; }
      .admin-panel .navigation ul li {
        border-color: #dddddd;
        border-style: solid;
        border-width: 1px 0 0 0;
        cursor: pointer;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .admin-panel .navigation ul li .active, .admin-panel .navigation ul li:hover {
          background: #238ed2; }
          .admin-panel .navigation ul li .active a, .admin-panel .navigation ul li:hover a {
            color: white; }
        .admin-panel .navigation ul li:last-child {
          border-bottom-width: 1px; }
        .admin-panel .navigation ul li a {
          color: #333333;
          display: block;
          padding: 10px 12px; }
  .admin-panel .content {
    background: white; }
    .admin-panel .content h2 {
      margin-bottom: 50px; }

.panel-nav {
  margin: 0 0 15px;
  padding: 0 15px; }

.modal-window {
  position: absolute;
  z-index: 1000; }
  .modal-window:before {
    background-color: rgba(50, 50, 50, 0.65);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
  .modal-window .modal-window-content {
    background-color: #F6F6F6;
    border-color: #ddd;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    display: block;
    left: 0;
    margin: 0 20%;
    position: fixed;
    top: 50px;
    width: 60%;
    z-index: 1000; }

.modified {
  -webkit-animation: highlight-row 2.5s 1;
  /* Safari 4+ */
  -moz-animation: highlight-row 2.5s 1;
  /* Fx 5+ */
  -o-animation: highlight-row 2.5s 1;
  /* Opera 12+ */
  animation: highlight-row 2.5s 1;
  /* IE 10+, Fx 29+ */ }

@-webkit-keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
@-moz-keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
@-o-keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
@keyframes highlight-row {
  0% {
    background-color: white; }

  50% {
    background-color: #98ff98; }

  100% {
    background-color: white; } }
.block-square {
  background-color: white;
  border-color: #dddddd;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  height: 250px;
  margin: 0px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .block-square:hover {
    background-color: #cbe5f6; }
  .block-square h3 {
    border-color: #dddddd;
    border-style: solid;
    border-width: 0 0 0 0;
    color: #888;
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 4px;
    padding-top: 6px;
    text-align: center; }

.block-gallery {
  /*@include background-image("image/gallery-large.png");
  background-position: 50%;
  background-repeat: no-repeat;*/ }

.navigation-filters {
  margin: 0 0 15px 0; }

.navigation-filters, .pagination {
  position: relative; }
  .navigation-filters .position-left, .pagination .position-left {
    display: inline-block;
    left: 0;
    position: relative; }
  .navigation-filters .position-right, .pagination .position-right {
    display: inline-block;
    position: absolute;
    right: 0; }
    .navigation-filters .position-right select, .pagination .position-right select {
      margin: 0 12px 0 4px; }
      .navigation-filters .position-right select:last-child, .pagination .position-right select:last-child {
        margin: 0 0 0 4px; }

.pagination {
  display: block;
  margin: 0;
  padding: 6px 0; }
  .pagination .btn {
    padding: 2px 12px; }
