/* Styles for user view part of website */

$footer-height: 70px;
$neg-footer-height: -$footer-height;
$blue: #238ed2;
$white: #fff;
$black: #333;

@import "_mixins.scss";
@import "_screen.scss";
@import "template/_footer.scss";
@import "template/_header.scss";
@import "view/_contact.scss";
@import "view/_photo.scss";
@import "view/_home.scss";



* {
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 100px;
	
} 

.wrapper {
/*
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto $neg-footer-height;
	*/
	
	> .container {
		margin-top: 100px;
	}
}


body {
	background: repeat scroll 0 0 rgba(0, 0, 0, 0);
	@include background-image("images/background/mooning.png");
	font-family: "Noto Sans", sans-serif;
}

.container {
	max-width: 970px; 
}


.showcase {
	margin-top: 90px;
	margin-bottom: 50px;
  
	img {
		border: 1px solid $white;
		width: 100%;
	}
}

.showcase {

  text-align: center; }
  .showcase .main-image {
    text-align: center; }
    .showcase .main-image img {
      border: 1px solid white;
      margin: 0px auto; }
  .showcase .carousel {
    display: inline-block; }
    .showcase .carousel .carousel-control {
      display: none; }

.sh-full {
  background: #333;
  margin: 20px auto 80px;
  width: 100%; }

.sh-header {
  border-top: 2px solid white;
  position: relative; }
  .sh-header div {
    background: none repeat scroll 0 0 white;
    display: inline-block;
    font-size: 22px;
    font-style: italic;
    left: 41%;
    padding: 8px 30px;
    position: absolute;
    top: -25px; }

.sh-desc {
  /*border-bottom: 2px solid white;*/
  /*border-top: 2px solid white;*/
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8em;
  padding: 50px 0px 30px;
  position: relative; }


  .sh-last-added .added-item {
    background: #fff;
    border-bottom: 3px solid #d6d6d6;
    height: 420px;
    margin: 6px;
    position: relative; }
    .sh-last-added .added-item:first-child {
      margin-left: 0px; }
    .sh-last-added .added-item:last-child {
      margin-right: 0px; }
    .sh-last-added .added-item img {
      width: 100%; }
    .sh-last-added .added-item .item-title {
      font-size: 1.4em;
      padding: 12px 8px 16px; }
    .sh-last-added .added-item .item-desc {
      font-size: 14px;
      line-height: 1.4em;
      padding: 8px; }
    .sh-last-added .added-item .item-center {
      text-align: center; }

.button {
  background: #238ed2;
  border: 4px solid #238ed2;
  bottom: 15px;
  color: #f9f9f9;
  display: inline-block;
  font-size: 20px;
  left: 33%;
  margin: 0 auto;
  padding: 2px 12px;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .button:hover, .button:focus {
    background: #fff;
    color: #238ed2; }



    
.navbar-toggle {
	background: $white;
	
	.icon-bar {
		background: $black;
	}
}

.page-header {
	border: 0px;
	margin-top: 120px;
	position: relative;
	
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		margin-top: 80px;
	}
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-top: 100px;
	}

	.header-icon {
		background-repeat: no-repeat;
		border: 10px solid #fff;
		border-radius: 75px;
		height: 130px;
		text-align: center;
		width: 130px;
	}
	
	.header-title {
		background: #fafafa;
		border: 1px solid #aaa;
		display: inline;
		font-size: 36px;
		padding: 10px 15px;
		position: relative;
		
		@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
			font-size: 26px;
			padding: 6px 10px;
		}
		
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			font-size: 30px;
			padding: 8px 12px;
		}
	}

	.header-contact {
		@include background-image("images/icons/contact.png");
	}
	
	.link-back a {
		background: #333;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		margin: -5px 0px 20px;
		padding: 5px 10px;
		text-transform: uppercase;
		text-decoration: none;
		@include transition(all, 0.4s, ease);
		
		&:hover {
			background: #f6f6f6;
			color: #333;
		} 
	}
}





.navbar {
	border: 0px;
}

.navbar-brand {
	padding-top: 23px; 
}



.block-text {
	background: #fafafa;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 20px;
	padding: 10px 15px;
}



.display-block {
	display: inline-block !important;
}

.display-none {
	display: none !important;
}

.button-bordered {
	background: $white;
	color: $black;
	cursor: pointer;
	font: {
		size: 15px;
	}
	padding: 10px 16px;
}
    