$white: #FFFFFF;
$black: #333;
$blue: #238ed2;
$blue-light: lighten($blue, 40%);
$green: #98FF98;
$grey: #aaa;
$border-grey: #ddd;

@import "_mixins.scss";
@import "login/_login.scss";

html, body {
	color: $black;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, .admin-panel, .admin-panel > .row {
	height: 100%;
}

.container {
	padding: 0;
	width: 100% !important;
}

.navbar {
	margin-bottom: 0;
	min-height: inherit;
}


.nav-left, .nav-right {
	padding: 10px 20px;
}

.nav-left {
	border-right: 2px solid $border-grey;
	font: {
		size: 16px;
	}
	text-transform: uppercase;
}

.nav-right {
	padding: 10px 20px;
	text-align: right;
}

.btn {
	@include transition(all, 0.4s, ease);
}

.admin-panel {
	background: $white;

	.navigation {
		background: $white;
		border-right: 2px solid $border-grey;
		min-height: 100%;
		padding: 0;
		
	
		.top-block {
			background: #F4F4F4;
			padding: 10px 12px;
			text-transform: uppercase;
		}
	
		ul {
			margin: 0;
			list-style: none;
			padding: 0;
			
		
			li {
				border: {
					color: $border-grey;
					style: solid;
					width: 1px 0 0 0;
				}
				cursor: pointer;
				@include transition(all, 0.4s, ease);
			
				.active, &:hover {
					background: $blue;
					
					a {
						color: $white;
					}	
				}
				
				&:last-child {
					border-bottom-width: 1px;
				}
				
				a {
					color: $black;
					display: block;
						padding: 10px 12px;
				}
			}
		}
	
	}
	
	.content {
		background: $white;
	
		
		h2 {
			margin-bottom: 50px;
		}
	
	}

}


.panel-nav {
	margin: 0 0 15px;
	padding: 0 15px;
}

.panel-body {


}

.modal-window {
	position: absolute;
	z-index: 1000;

	&:before {
		background-color: rgba(50, 50, 50, 0.65);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index:999;	
	}
	
	.modal-window-content {
		background-color: #F6F6F6;
		border: {
			color: #ddd;
			radius: 1em;
			style: solid;
			width: 1px;
		}
	    display: block;
	    left: 0;
	    margin: 0 20%;
	    position: fixed;
	    top: 50px;
	    width: 60%;
	    z-index: 1000;
	}
}

.modified {
  -webkit-animation: highlight-row 2.5s 1; /* Safari 4+ */
  -moz-animation:    highlight-row 2.5s 1; /* Fx 5+ */
  -o-animation:      highlight-row 2.5s 1; /* Opera 12+ */
  animation:         highlight-row 2.5s 1; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}
@-moz-keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}
@-o-keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}
@keyframes highlight-row {
  0%   { background-color: $white; }
  50%   { background-color: $green; }
  100% { background-color: $white; }
}

.block-square {
	background-color: $white;
	border: {
		color: $border-grey;
		radius: 2px;
		style: solid;
		width: 2px;
	}
	cursor: pointer;
	height: 250px;
	margin: 0px 20px;
	@include transition(all, 0.4s, ease);
	
	&:hover {
		background-color: $blue-light;
	}
	
	h3 {
		border: {
			color: $border-grey;
			style: solid;
			width: 0 0 0 0;
		}
		color: #888;
		font: {
			size: 28px;
			weight: 300;
		}
		padding-bottom: 4px;
		padding-top: 6px; 
		text-align: center;
	}
}

.block-gallery {
	/*@include background-image("image/gallery-large.png");
	background-position: 50%;
	background-repeat: no-repeat;*/
}

.navigation-filters {
	margin: 0 0 15px 0;
}

.navigation-filters, .pagination {
	position: relative;
	
	.position-left {
		display: inline-block;
		left: 0;
		position: relative;
	}
	
	.position-right {
		display: inline-block;
		position: absolute;
		right: 0;
		
		select {
			margin: 0 12px 0 4px;
			
			&:last-child {
				margin: 0 0 0 4px;
			}
		}
	}
}

.pagination {
	display: block;
	margin: 0;
	padding: 6px 0;
	
	.btn {
		padding: 2px 12px;
	}
}


