
<div  >


	<div class="panel-nav" >

		<h2>Dashboard</h2>

	</div>

	<div class="panel-body" >

		<div class="col-sm-4" >
			<a href="{{contextPath}}admin/#/gallery" >
				<div class="block-square block-gallery" >
					<h3>Galleries</h3>
					<!-- 
					<img data-ng-src="../static/admin/image/gallery-large.png" />
					 -->
				</div>
			</a>
		</div>
		<div class="col-sm-4" >
			<a href="{{contextPath}}admin/#/photo" >
				<div class="block-square" >
					<h3>Photos</h3>
				</div>
			</a>
		</div>
		<div class="col-sm-4" >
			<a href="{{contextPath}}admin/#/article" >
				<div class="block-square" >
					<h3>Articles</h3>
				</div>
			</a>
		</div>

	</div>
	
</div>

